<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <appSettings>
    <add key="FolderPath" value="~/Upload/"/>
    <add key="FileUploadSizeLimit" value="1048576"/>
    <add key="eid" value="business@kwickwash.com"/>
    <add key="epass" value="Xaq6U*U+9G"/>
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <connectionStrings>
    <add name="MyConnection" connectionString="Data Source=184.168.120.56;  User ID=admin_KwickWashData; Password=Passw0rd@2020; Connection Timeout=36000;" providerName="System.Data.SqlClient"/>
    <!--<add name="MyConnection" connectionString="Data Source=64.202.184.218; User ID=admin_KwickWashData; Password=Passw0rd@2020;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <location path="AdminPanel">
    <system.web>
      <sessionState timeout="20000"/>
      <machineKey validationKey="2EEA416CEFC6D6BE856ED57B97FB9CA7DFACE17C073125949A1D682C80A44BB2AD887DDDC13DBFB0954F1000FEE5757E99693F222F8E28CAA2E6DAB8C4F99E0C" decryptionKey="877478B2F33A74226ABEF55FDCC1A76E43F1BBEA6241A592" validation="SHA1" />
      <authorization>
        <allow roles="Member"/>
      </authorization>
      <compilation debug="false"/>
      <authentication mode="Windows"/>
      <pages enableViewStateMac="true"/>
    </system.web>
  </location>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <roleManager enabled="true" defaultProvider="AdminRoleProvider">
      <providers>
        <clear/>
        <add name="AdminRoleProvider" type="AdminRoleProvider"/>
      </providers>
    </roleManager>
    <authentication mode="Forms">
      <forms name="login_form" defaultUrl="~/authUser.aspx"  loginUrl="~/login.aspx" protection="All" slidingExpiration="true" timeout="100000" cookieless="UseCookies"/>
    </authentication>
    <httpRuntime executionTimeout="7200" maxRequestLength="102400"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.-->
    <customErrors mode="Off">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="#"/>
      <error statusCode="500" redirect="#"/>
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>